{% extends 'base.html' %}

{% block content %}
<div>
    <a href="create">create</a>
</div>
<main class="recipe-grid">
    {% for meal_plan in mealplan_list %}
        <div class="meal_plan-card">
            <h2 class="meal_plan-card-title">
                <a href="{% url 'meal_plan_detail' meal_plan.pk %}">{{ meal_plan.name }}</a>
            </h2>
            <p>
                <a href="/recipes/">Crunch Salad</a>
            </p>
        </div>
    {% endfor %} 
    <!-- <p class="mealplan-date">{{ mealplan.updated }}</p> -->
</main>
{% endblock content %}

