{% extends 'base.html' %} 

{% block content %}
  <!-- <main class="recipe-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p>
        <label for="id_name">Name</label>
      </p>
    </form>
  </main> -->
  {% endblock content %}